jupyter==1.0.0
numpy==1.22.3
imageio==2.16.1
scipy==1.8.0
scikit-image==0.19.2
pillow==9.0.1
hdf5storage==0.1.18
h5py==3.7.0
opencv-contrib-python-headless==4.5.5.64
imagecodecs==2022.9.26
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.11.0
